.responsive-layout {
  @extend .fill;
  @extend .flex;


  .responsive-margin {
    @include for-size(xl) {
      width: 15%;
      height: 100%;
    };
    background-color: $primary-color;
    height: 0;
    width: 0;
  }

  .responsive-layout-body {
    @extend .fill;
    @extend .flex;
    @extend .position-relative;

    .responsive-layout-body-content{
      @extend .flex-column;
      @extend .flex;
      @extend .flex-1;
      @extend .justify-center;
    }

    .menu-overlay {
      @extend .position-absolute;
      @extend .absolute-fill;
      height: 100%;
      background-color: $primary-color;
      z-index: -1;
    }

    .responsive-layout-side-navigation {
      @extend .flex;
      opacity: 0.87;
      background-color: $tertiary-background-color;

      @extend .flex-column;

      .side-navigation-option {
        @extend .flex;
        @extend .align-center;

        width: 100%;

        border-top: $default-border;

        border-radius: 10px;
        font-family: 'VCR_OSD_MONO';
        max-height: var(--vp-input-min-height);
        min-height: var(--vp-input-min-height);
        background-color: $secondary-background-color;
        justify-content: space-evenly;
        margin-top: 1em;
        padding: 0.2em 0;
        transition: all $transition-linear-180;
        cursor: pointer;

        &:not(.selected) {
          &:hover {
            background-color: $primary-text-color;
            color: $quinary-color;
          }
        }

        &.selected {
          background: linear-gradient(to top, rgba(180, 180, 180, 0.503), rgba(255, 255, 255, 0.839));
        }
      }

      .xs-logo {
        display: none;
      }

      @include for-size(xs) {
        display: none;
        background-color: $quaternary-color;

        .logo-container {
          display: none;
        }
      }
    }

    .header-search-container {
      .logo-container {
        width: 0;

        .xs-logo {
          display: none;
        }

        .lg-logo {
          display: none;
        }
      }

      @include for-size(xs) {
        .logo-container {
          width: 100%;

          .xs-logo {
            display: block;
          }
        }
      }
    }

    .sample-search-input {
      @include for-size(xs) {
        margin: 0;
      }
    }

    .sample-search-container {
      @include for-size(xs) {
        flex-direction: row;
        justify-content: center;
      }
    }

    .sample-detail-container.isGridView .sample-detail-image-card .form-image {
      @include for-size(xs) {
        min-height: 6em;
        min-width: 6em;
      }
    }

    .page-footer-container {
      height: var(--mobile-footer-height);
      display: none;
      align-items: center;
      justify-content: space-around;

      @include for-size(xs) {
        display: flex;
      }
    }

    .sample-detail-container {
      &.isGridView {
        .sample-detail-image-card {
          .form-image {
            @include for-size(xs) {
              min-height: 8em;
              min-width: 8em;
            }
          }
        }

        .sample-details {
          @extend .p0;

          .form-card {
            @extend .p0;
          }
        }
      }
    }
  }
}