.responsive-layout {
  @extend .fill;
  @extend .flex;

  .responsive-margin {
    @include for-size(xl) {
      width: 15%;
      height: 100%;
    };
    background-color: var(--primary-background-color);
    height: 0;
    width: 0;
  }

  .site-name {
    @extend .mt0;
    @extend .flex;
    @extend .flex-column;
    @extend .align-center;
    @extend .justify-space-around;
  }

  .responsive-layout-body {
    @extend .fill;
    @extend .flex;
    @extend .position-relative;
    box-shadow: 10px 10px 5px 0px rgb(0 0 0 / 45%);

    .responsive-layout-body-content {
      @extend .flex-column;
      @extend .flex;
      @extend .flex-1;
      @extend .justify-center;

      max-width: calc(100vw - var(--responsive-layoutside-navigation-width));
    }

    .menu-overlay {
      @extend .position-absolute;
      @extend .absolute-fill;

      height: 100%;
      background-color: var(--primary-background-color);
      z-index: -1;
    }

    .responsive-layout-side-navigation {
      @extend .flex;
      @extend .flex-column;

      width: var(--responsive-layoutside-navigation-width);

      opacity: 0.87;
      background-color: var(--primary-background-color);

      .side-navigation-option {
        @extend .flex;
        @extend .align-center;
        @extend .rounded-corners-md;
        @extend .justify-space-evenly;

        cursor: pointer;

        font-family: #{$primary-font-family};

        max-height: var(--input-min-height);
        min-height: var(--input-min-height);
        width: 100%;

        margin-top: 1rem;
        padding: 0.2rem 0;

        background-color: var(--navigation-option-background-color);
        border-top: var(--default-border);


        transition: all $transition-linear-180;
        
        &:not(.selected) {
          &:hover {
            background-color: $primary-font-color;
            color: $secondary-font-color;
          }
        }

        &.selected {
          background: linear-gradient(to top, rgba(180, 180, 180, 0.503), rgba(255, 255, 255, 0.839));
        }
      }

      .xs-logo {
        display: none;
      }

      @include for-size(xs) {
        display: none;
        background-color: var(--tertiary-background-color);
        .logo-container {
          display: none;
        }
      }
    }

    .header-search-container {
      .logo-container {

        .xs-logo {
          display: none;
        }

        .lg-logo {
          display: none;
        }
      }

      @include for-size(xs) {
        .logo-container {
          width: 100%;

          .xs-logo {
            display: block;
          }
        }
      }
    }

    .sample-search-input {
      @include for-size(xs) {
        margin: 0;
      }
    }

    .sample-search-container {
      @include for-size(xs) {
        flex-direction: row;
        justify-content: center;
      }
    }

    .sample-detail-container.isGridView .sample-detail-image-card .form-image {
      @include for-size(xs) {
        min-height: 6rem;
        min-width: 6rem;
      }
    }

    .page-footer-container {
      background-color: #{transparentize($primary-color, 0.4)};
      height: var(--mobile-footer-height);
      display: none;
      align-items: center;
      justify-content: space-around;

      @include for-size(xs) {
        display: flex;
      }
    }

    .sample-detail-container {
      &.isGridView {
        .sample-detail-image-card {
          .form-image {
            @include for-size(xs) {
              min-height: 8rem;
              min-width: 8rem;
            }
          }
        }

        .sample-details {
          @extend .p0;

          .form-card {
            @extend .p0;
          }
        }
      }
    }
  }
}

.logo-container {
  display:flex;
  justify-content: center;
  align-items: center;

  .animated-text {
    font-size: 1.4rem;
    background: linear-gradient(180deg, #2cd8d5 0%, #9fafd3 50%, #5a2288 100%);
    animation: animated_text 10s ease infinite;
    background-size: 300%;

    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
    letter-spacing: 0rem;
  }
}

@keyframes animated_text {
	0% { background-position: 0px 50%; }
	50% { background-position: 100% 50%; }
	100% { background-position: 0px 50%; }
}