.page-footer-container {
  @extend .flex;
  @extend .align-center;
  @extend .justify-space-around;
  @extend .border-top;

  &>*{
    @extend .flex-1;
  }

  height: var(--page-footer-height);
  background-color: #{transparentize($primary-color, 0.4)};

  z-index: 1;

  @include for-size(xs) {
    display: flex;
  }

  .details {
    font-size: 0.9rem;

    .form-image {
      height: 2.5rem;
      width: 2.5rem;
    }
    .name {
      padding-left: 0.5rem;
    }
  }
}