.scrolling-container {

  .scrolling-container-header {
    height: var(--vp-scrolling-container-header-height);
    .icon-group {
      height: 2em;
      padding: 0 0.5em;
      padding-right: 20px;
    }
  }
  
  .scrolling-container-scrollable-content {
    //TODO: Fix this... :| 
    height: calc(100vh - (var(--vp-header-height) + var(--vp-scrolling-container-header-height) + 0.5em));
    border-radius: 6px;
    flex: 1;
    @extend .flex;
    @extend .flex-column;
    background-color: $default-background-color;
    overflow-y: auto;

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      border-radius: 10px;
      background-color: rgb(17, 17, 17);
    }

    &::-webkit-scrollbar {
      width: 12px;
      background-color: black;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
      box-shadow: inset 0 0 6px rgba(0,0,0,.3);
      background-color: #555;
    }

    @include for-size(xs) {
      height:calc(100vh - 10.75em);
    }

    .scrolling-container-content {
      padding: 1em;
      @extend .justify-start;

      .scrolling-content {
        width:100%;
        .expanded {
          .sortable-column-row {
            height: var(--vp-cover-art-hw);
          }
        }
      };
    }

  }
}