.scrolling-container {
  height: 100%;
  width: 100%;

  .search-header {
    @extend .flex;
    height: 2rem;
    background-color: black;
  }

  .header-search-input {
    .form-input-base {
      border:0;
      .form-input-body {
        padding-left: 1rem;
      }
      .form-input-icon-underlay {
        left: 1rem;
      }
    }
  }

  

  @include for-size(xs) {
    padding: 0;
    justify-content: center;
    align-items: center;
    padding: 0;

    .scrolling-container-scrollable-content {
      height: calc(100% - var(--sample-upload-height) - var(--mobile-footer-height));
    }
  }

  .scrolling-container-header {
    width:100%;
    .icon-group {
      height: 2rem;
      padding: 0 0.5rem;
      padding-right: 20px;
    }
  } 
  
  .scrolling-container-scrollable-content {
    @extend .flex;
    @extend .flex-column;
    @extend .fill;

    height: calc(100% - var(--sample-upload-height));
    overflow-y: auto;
    flex: 1;

    .scrolling-container-content {
      @extend .flex;
      @extend .flex-column;
      @extend .flex-1;
      @extend .p1;
      background-color: #5c5e7336;
      box-shadow: 10px 10px 23px -3px rgba(0,0,0,0.25) inset;
    }

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      border-radius: 10px;
      background-color: $primary-color;
    }
  
    &::-webkit-scrollbar {
      width: 12px;
      background-color: $quinary-color;
    }
  
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px $primary-shadow-inset;
      box-shadow: inset 0 0 6px $primary-shadow-inset;
      background-color: $primary-background-color;
    }
  }
}