.header-container {
  @extend .flex;
  @extend .align-center;

  background-color: $primary-color;

  padding: 0 1em;
  height: var(--vp-header-height);
  
  color: $secondary-color;
  @extend .justify-start;
  font-size: 1.2em;
  z-index: 1;
  
  .header-search-input-background {
    @extend .position-absolute;
    @extend .absolute-fill;
    background-color: $primary-color;
    z-index: -2
  }

  .form-icon {
    font-size: 0.5em;
    height: 2em;
  }

  .header-search-container {
    @extend .flex;
    @extend .justify-end;
    flex: 1;
  
    .header-user-menu {
      background-color: transparent;
      @extend .flex;
      @extend .align-center;

      .header-custom-user-name {
        font-size:0.65em;
        @include for-size(xs) {
          display: none;
        }
      }
    }
  
    .header-search-input {
      @extend .flex;
      @extend .justify-center;
      @extend .align-center;

      .header-search-input-content {
        border-radius: 1em;
        flex:1;
      }
    }
  }
}