.DS_Store
node_modules
/dist


# local env files
# TODO: local env files are required for the build, this should be integrated into the pipeline such that the vars are pulled from the  build configuration
#.env.dev
#.env

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

