.sample-pack-search-page {
  height: calc(100% - var(--main-banner-height));
  &.scrolling-container {
    .scrolling-container-scrollable-content {
      height: calc(100% - var(--sortable-table-column-name-height));
      .scrolling-container-content {
        .sortable-table {
          &.isGridView {
            padding: var(--sortable-table-grid-padding);
          }
        }
      }
    }
  }
  @include for-size(xs) {
    height: calc(100% - var(--main-banner-height) - var(--mobile-footer-height));
  }
}