#app {
  @extend .fill; 
  @extend .m0;

  text-align: left;
  z-index:50;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.legal {
  --main-banner-height: 0rem;
  background-color: #{transparentize($primary-color, 0.333)};
  text-align:left;
}

html {
  @extend .m0;
  @extend .fill;

  font-size: 20px;
  font-weight: 300;

  body {
    @extend .fill;
    @extend .position-relative;
    @extend .m0;

    color: $primary-font-color;
    overflow: hidden;
    border: 0;
  }

  .page-footer-container {
    display: flex;
    align-items: center;
    justify-content: space-around; 
  }

  .info-block {
    padding:1rem;
    text-align:left;
    font-size:0.8rem;
    display:inline-block;
  }

  .info-highlight {
    color: var(--primary-highlight-color);
    display: inline-block;
  }

  .hover-zoom {
    cursor: pointer;
    transition: transform $transition-cubic-bezier-250;

    &:hover {
      transform: scale(1.25, 1.25);
      color: var(--primary-highlight-color);
    }
  }
        
  h3 {
    @extend .m0;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    display: inline-block;
    margin:0;
  }

  input, textarea, select {
    &:focus-visible {
      outline: none;
    }
    box-shadow: none;
  }

  textarea {
    resize: none;
  }
}