#app {
  @extend .fill-screen;
  text-align: center;
  @extend .m0;
  z-index:50;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 16px;
  font-weight: 300;
  @extend .m0;

  body {
    @extend .fill;
    @extend .position-relative;
    @extend .m0;

    color: $primary-text-color;
    background-color: $primary-background-color;

    overflow: hidden;

    border: 0;
  }

  // Refactor this... shouldn't be in here :|

  //Radial gradient to fade edges of viewport
  .overlay {
    width: 100vw;
    height: 100vh;
    position: absolute; 
    z-index: -2;
    background: radial-gradient(circle, transparent 0%, transparentize($primary-background-color, .15) 100%);
  }

  .hover-zoom {
    cursor: pointer;
    transition: transform $transition-cubic-bezier-250;

    &:hover {
      transform: scale(1.25, 1.25);
      color: $primary-highlight-color;
    }
  }
        
  h3 {
    @extend .m0;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    display: inline-block;
    margin:0;
  }

  input, textarea, select {
    &:focus-visible {
      outline: none;
    }
    box-shadow: none;
  }

  textarea {
    resize: none;
  }
}