.icon-button {
  @extend .flex;
  @extend .flex-column;
  @extend .justify-center;

  padding-left: 0.5rem;
  font-size: var(--input-min-height);
  align-content: center;

  cursor: pointer;
  transform: scale(1);
  transition: 
    transform $transition-cubic-bezier-250, 
    color $transition-cubic-bezier-250;
  color: color.scale($primary-font-color, $lightness: -50%); 

  &:hover {
    transform: scale(1.2);
    color: #{$primary-font-color};
  }

  &.selected {
    transform:scale(1.1);
    color: #{$primary-font-color};
  }
}