.vp-input {
  color: white;
  width:100%;
}

.vp-form {
  .vp-form-row {
    display:flex;
    justify-content:flex-start;
    font-size: 1em;
    color: white;
    width:100%;
    margin-top: 2em;
  }
}
.vp-button {
  font: normal 100%/1.4 "VCR_OSD_MONO", "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Monaco", monospace;
  height:2em;
  border: solid 1px white;
  display:flex;
  align-items: center;
  justify-content: center;
  cursor:pointer;
  color:white;
  background-color:black;
  transition: all 0.25s ease-in-out;

  &:hover{
    background-color:white;
    color:black;
  }
}
