.fill {
  height:100%;
  width:100%;
}

.flex {
  display:flex;
}

.flex-column {
  flex-direction:column
}

.flex-1 {
  flex:1;
}

.flex-2 {
  flex:2;
}

.flex-3 {
  flex:3;
}

.hidden {
  display:none;
}

.align-start {
  align-items:flex-start;
}

.align-center {
  align-items:center;
}

.align-end {
  align-items:flex-end;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-center {
  justify-content:center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.m1 {
  margin:1em;
}

.ml1 {
  margin-left: 1em;
}

.mt0 {
  margin-top:0;
}

.p0 {
  padding: 0;
}

.p1{
  padding:1em;
}

.pt0 {
  padding-top: 0;
}

.pt1 {
  padding-top: 1em;
}

.pt2 {
  padding-top: 2em;
}

.pb1 {
  padding-bottom: 1em;
}

.pl1{
  padding-left:1em;
}

.pr1{
  padding-right: 1em;
}

.absolute-container {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
}