.fill {
  height:100%;
  width:100%;
}

.flex{
  display:flex;
}

.flex-column {
  flex-direction:column
}

.flex-1 {
  flex:1;
}

.flex-2 {
  flex:2;
}

.flex-3 {
  flex:3;
}

.align-start {
  align-items:flex-start;
}

.align-center {
  align-items:center;
}

.align-end {
  align-items:flex-end;
}

.justify-center {
  justify-content:center;
}

.justify-left {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.p1{
  padding:1em;
}

.pl1{
  padding-left:1em;
}

