.form-base {
  .form-column {
    @extend .flex;
    @extend .flex-1;
    flex-direction: column;

    .vp-form-row {
      @extend .flex;
      @extend .justify-start;
      font-size: 1em;
    }
  }
}

.form-icon {
  cursor:pointer;
}
