.vp-button {
  @extend .flex;
  @extend .align-center;
  @extend .justify-center;

  font: normal 100%/1.4 var(--text-font-stack);
  border: var(--default-border);
  color: $primary-font-color;

  transition: all $transition-cubic-bezier-250;

  cursor:pointer;
  
  background-color: var(--secondary-font-color);

  &.sm{
    height: 1rem;
    width: 1rem; 
  }

  &:hover {
    background-color: var(--primary-font-color);
    color: $secondary-font-color;
  }
}
