.form-file-upload {
  @extend .flex;
  @extend .justify-start;
  @extend .align-center;

  .form-file-upload-button {
    padding: 0 0.5rem;
    cursor: pointer;
    @extend .flex;
    @extend .align-center;
    height: 100%;
    font-size: 0.8rem;
    transition: all $transition-cubic-bezier-250;
    background-color: var(--secondary-font-color);

    &:hover {
      background-color: var(--primary-font-color);
      color:$secondary-font-color;
      z-index: 2;
    }
  }

  .form-file-upload-button-spacer {
    max-height: 1rem;
    overflow-y: hidden;
    flex:1;
    overflow: hidden;
    text-align:left;
    padding-left: 0.5rem;
  }
}