.sortable-table {
  @extend .flex;
  flex-wrap: wrap;
  flex-direction: row;
  @extend .justify-center;

  &.expanded {
    justify-content: initial;
    @extend .flex-column;
  }

  .sortable-table-row {
    width: var(--vp-cover-art-hw);
    transition:all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    width: var(--vp-cover-art-hw-expanded);
    height:var(--vp-cover-art-hw-expanded);
    margin-top:0.5em;
    padding: 0.5em;

    &:hover {
      transform:scale(1.1);
    }

    &.expanded {
      width: 100%;
      height: 100%;
      padding: 0;
      &:hover {
        transform:none;
      }
      &:first-child{
        margin-top:0;
      }
    }

    .sortable-column-row {
      @extend .flex;
      cursor: pointer;
      border-radius: 8px;
      overflow-x: hidden;
      transition: background-color 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
      background-color: var(--vp-form-button-background-color);
    
      &:hover {
        background-color: $default-secondary-background-color;
      }
    
      .sortable-column {
        @extend .flex;
        @extend .align-center;
        @extend .justify-center;

        .sortable-table-cell {
          height: var(--vp-cover-art-hw);
          text-align:left;
          font-size:large;
          position: relative;
          width:100%;
          overflow:hidden;

          .sortable-table-cell-overflow {
            white-space:nowrap;
            position:absolute;
            top:0;
            bottom:0;
            left:0;
            right:0;
          }

          .sortable-table-cell-content {
            @extend .flex;
            position: relative;
            height: 100%;
            @extend .align-center;
          }
        }
      }
    };
  }
}

.sortable-table-header {
  @extend .flex;
  .sortable-table-header-column {
    @extend .flex;
    cursor:pointer;
    @extend .justify-start;
    font-family: "VCR_OSD_MONO";
    background-color: $primary-color;
    transition: all 250ms cubic-bezier(0.19, 1, 0.22, 1);

    &:hover {
      transform: scale(1.05);
      background-color:rgba(114, 114, 114, 0.463);
    }

      .sortable-table-header-sort-options {
      @extend .fill;
      @extend .flex-column; 
      @extend .justify-center;
      padding-left:0.5em;
      opacity:0;
      transition: all 250ms cubic-bezier(0.075, 0.82, 0.165, 1);

      &.selected {
        opacity: 1;
      }

      &:hover{
        opacity: 0.8;
      }

      .sortable-table-header-form-icon {
        opacity:0;
        color: #a1a1a170;
        font-size:0.8em;
        height:25%;
        user-select: none;

        &:hover{
          color: #ffffffe1;
        }

        &.selected {
          opacity:1;
          color:rgba(255, 255, 255, 0.96);
        }
      }
    }
  }
}