.form-input-body {
  border:none;
  padding: var(--vp-input-padding);
  color:white;
  z-index:2;
  flex:1;
  background-color:transparent;
  font-size: var(--vp-form-text-size);
  min-width: 0;
  font-family: 'VCR_OSD_MONO';
  transition: all 0.5s;

  &::selection {
    background: $tertiary-color;
    color:black;
  }
}

.form-input-icon-underlay {
  font-family: 'VCR_OSD_MONO';
  position:absolute;
  top:0;
  left:0.5em;
  bottom:0;
  right:0;
  @extend .flex;
  @extend .align-center;
  z-index: -1;
}

.toggle-show {
  opacity: 0.5;
  transition: opacity 0.5s;
  &.hide {
    opacity:0;
  }
}
