.form-dropdown {
  position:fixed;
  @extend .flex;
  z-index:200;

  .form-dropdown-content {
    width: 10em;
    @extend .align-center;

    .form-dropdown-item:nth-child(odd) {
      background-color:$secondary-color;
    }

    .form-dropdown-item {
      @extend .flex;
      @extend .justify-center;
      @extend .align-center;
      @extend .p0;

      border-right: $default-border;
      border-left: $default-border;
      
      overflow:hidden;
      transition: width 0.25s, color 0.2s, opacity 0.5s, transform 0.25s;
      opacity: 0.9;
      cursor:pointer;
      background-color:grey;
      height: 2em;
      color: black;

      &:first-child {
        border-top: $default-border;
      }

      &:last-child {
        border-bottom: $default-border;
      }

      &:hover {
        transform: scale(1.2);
        opacity: 1;
        z-index:1;
        background-color:rgb(189, 189, 189);
        color: white;
      }

      &>* {
        display:block;
        position:absolute;
        overflow:hidden;
        word-break: keep-all;
      }

      .form-dropdown-item-name {
        word-break:keep-all;
        overflow:hidden;
      }
    }
  }
}