.form-base {
  @extend .flex;
  flex-direction: column-reverse;

  .vp-form {
    flex: 1;

    .vp-form-row {
      @extend .flex;
      @extend .justify-start;
      font-size: 1em;
      color: white;
      margin-top: 2em;
      
      &:first-child {
        margin-top:0;
      }
    }
  }

  .vp-form:first-child {
    @extend .p1;
  }

  @include for-size(md) {
    flex-direction: row;
    .vp-form:first-child {
      padding-top: 0;
    }
  }
}

.form-icon {
  cursor:pointer;
}

.form-image {
  height: var(--vp-cover-art-hw);
  width: var(--vp-cover-art-hw);
  min-height:var(--vp-cover-art-hw);
  min-width:var(--vp-cover-art-hw);
  border-radius:8px;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  &.expanded {
    height: var(--vp-cover-art-hw-expanded);
    width: var(--vp-cover-art-hw-expanded);
  }
}