html {
  --image-editor-hw: $default-image-editor-hw;
}

.form-image-editor-title {
  height: var(--input-info-container-height);
  font-size: var(--font-sm);
  text-align: left;

}

.form-image-editor-container {
  @extend .flex;
  justify-content:center;
  overflow: hidden;
  height: var(--image-editor-height);

  .form-image-editor-resize-container {
    @extend .flex;
    @extend .flex-column;
    right: 0;
    left: 0;
    top: 0;
    bottom:0;
    position: absolute;
    height: var(--image-editor-height);
    width: var(--image-editor-height);
    z-index: 1;
  }

  .form-image-editor-image-spacer {
    width: 100%;
    z-index: 1;
    flex: 1;
    background-color: var(--primary-background-color);
  }

  .form-image-editor-preview-container {
    @extend .position-relative;
    @extend .cursor-pointer;

    height: var(--image-editor-height);

    .form-image-editor-file-input {
      @extend .image-icon;
      @extend .position-absolute;
      @extend .fill;
      @extend .flex;
      @extend .align-center;
      @extend .justify-center;

      z-index: 2;
      
      .image-icon {
        font-size: 3rem;
      }

      input {
        @extend .cover;
        @extend .transparent;
        @extend .cursor-pointer;

      }
    }

    &.show-icon {
      background-color: #{transparentize($primary-color, 0.3)};
      .image-icon {
        z-index: 2;
        transition: 
          transform 100ms cubic-bezier(0.25, 0.46, 0.45, 0.94), 
          opacity 100ms cubic-bezier(0.25, 0.46, 0.45, 0.94);

        transform: scale(1);
        opacity: 0.7
      }

      &:hover {
        .image-icon {
          transform: scale(1.2);
          opacity: 1;
        }
      }
    }

    .image-icon {
      z-index: 0;
    }

    height: $default-image-editor-hw;
    .form-image-editor-preview-img {
      transition: all $transition-cubic-bezier-250;
    }

    .form-image-editor-preview {
      height: var(--image-editor-height);
      width: var(--image-editor-height);
      @extend .flex;
      position:relative;
      background-color: transparent;

      .form-image-editor-preview-mask {
        z-index:1;
        @extend .flex;
        @extend .justify-start;
        @extend .align-center;
        height: var(--image-editor-height);
        width: var(--image-editor-height);
        
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;

        &::-webkit-scrollbar-track {
          -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
          box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
          border-radius: 10px;
          background-color: var(--primary-background-color);
        }

        &::-webkit-scrollbar {
          width: 12px;
          background-color: var(--primary-background-color);
        }

        &::-webkit-scrollbar-thumb {
          border-radius: 10px;
          -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
          box-shadow: inset 0 0 6px rgba(0,0,0,.3);
          background-color: var(--tertiary-background-color);
        } 
      }

      .form-image-editor-preview-lens {
        height:100%;    
        &>img {
          height: 100%;
        }
      }
    }
  }
}