.form-image {
  min-height:var(--vp-cover-art-hw);
  min-width:var(--vp-cover-art-hw);
  
  border-radius:8px;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}