.form-image {
  @extend .rounded-corners-sm;

  min-height:var(--sortable-table-list-view-image-hw);
  min-width:var(--sortable-table-list-view-image-hw);
  
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
