.form-input-error-container {
  @extend .flex;
  @extend .justify-end;
  height: var(--form-input-error-height);
  opacity: 0;
  transition: opacity $transition-cubic-bezier-250;

  &.hasError {
    opacity: 1;
  }

  .form-input-error {
    display: inline-block;
    color: $primary-error-color;
    font-size:0.7rem;
    text-align: left;
    padding-left: 1rem;
    
    &::after {
      content: ','
    }

    &:first-child{
      padding-left: 0;
    }

    &:last-child{
            
      &::after {
        content: ''
      }
    }
  }
}

.form-input-base-container {
  @extend .flex;
  @extend .flex-column;
  height: 100%;
  width: 100%;

  .form-input-title {
    text-align: left;
    height: var(--form-input-title-height);
    color: $primary-text-color;
    font-size: var(--font-sm);
  }

  .form-input-base {
    margin: 0 var(--form-input-border-size);
    color: $primary-text-color;
    outline: solid var(--form-input-border-size) $secondary-color;
   
  
    .form-input-container {
      @extend .flex;
      position:relative;
      flex: 1;
  
      .form-input-title-container {
        @extend .flex; 
        @extend .justify-start;
        position:absolute;
        z-index: 3;
        top:0;
        left:0;
        align-content: flex-start;
      }
  
      .form-input-body-container {
        @extend .flex;
        overflow: hidden;
        font-size: var(--vp-form-text-size);
        background-color: var(--vp-input-background-color);
        flex:2;
        flex-direction:column;
        min-height: var(--vp-input-min-height);
        font-family: "VCR_OSD_MONO";
      }
    }
  }



}
