.form-input-body {
  padding:0;
  border:none;
  color: $primary-font-color;
  z-index:2;
  flex:1;
  background-color:transparent;
  font-size: var(--default-font-size);
  min-width: 0;
  font-family: #{$primary-font-family};
  transition: all $transition-cubic-bezier-500;

  &::selection {
    background: $primary-font-color;
    color: $secondary-font-color;
  }
}

.form-input-icon-underlay {
  font-family: #{$primary-font-family};
  position:absolute;
  top:0;
  left:0.5rem;
  bottom:0;
  right:0;
  @extend .flex;
  @extend .align-center;
  z-index: 0;
}

.toggle-show {
  opacity: 0.5;
  transition: opacity $transition-cubic-bezier-500;
  &.hide {
    opacity:0;
  }
}
