.form-input-error-container {
  @extend .flex;
  @extend .justify-end;

  height: var(--input-info-container-height);
  opacity: 0;
  transition: opacity $transition-cubic-bezier-250;

  &.hasError {
    opacity: 1;
  }

  .form-input-error {
    display: inline-block;
    color: var(--primary-error-color);
    font-size:0.7rem;
    text-align: left;
    padding-left: 1rem;
    
    &::after {
      content: ','
    }

    &:first-child{
      padding-left: 0;
    }

    &:last-child{
      &::after {
        content: ''
      }
    }
  }
}

.form-input-base-container {
  @extend .flex;
  @extend .flex-column;
  height: 100%;
  width: 100%;

  .form-input-title {
    text-align: left;
    height: var(--input-info-container-height);
    color: $primary-font-color;
    font-size: var(--font-sm);
  }

  .form-input-base {
    margin: 0 var(--input-border-size);
    color: $primary-font-color;
    outline: solid var(--input-border-size) var(--secondary-background-color);
   
  
    .form-input-container {
      @extend .flex;
      position:relative;
      flex: 1;
  
      .form-input-title-container {
        @extend .flex; 
        @extend .justify-start;

        position:absolute;
        z-index: 3;
        top:0;
        left:0;
        align-content: flex-start;
      }
  
      .form-input-body-container {
        @extend .flex;
        @extend .flex-column;
        @extend .overflow-hidden;
        flex:2;

        font-size: var(--default-font-size);
        background-color: var(--vp-input-background-color);
  
        min-height: var(--input-min-height);
        font-family: #{$primary-font-family};
      }
    }
  }



}
