.form-select {
  @extend .flex-1;
  @extend .flex;
  @extend .justify-start;
  @extend .align-center;

  width: 100%;
  background-color: transparent;
  color: $primary-font-color;
  cursor: pointer;
  font-size: var(--default-font-size);

  .form-select-option {
    font-size: var(--select-option-font-size);
    color: var(--primary-font-color);
    background-color: var(--primary-background-color);
    cursor: pointer;
    &:hover {
      cursor: pointer;
    }
  }
}