.sortable-table {
  @extend .flex;
  
  padding:1rem;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;

  .sortable-table-row {
    @extend .rounded-corners-md;

    transition: all  $transition-cubic-bezier-500;

    .sortable-column-row {
      @extend .flex;

      height:100%;
      cursor: pointer;
      border-radius: 8px;
      overflow: hidden;

      .sortable-column {
        @extend .align-center;
        @extend .justify-center;



        .sortable-table-cell {
          text-align: left;
          font-size: large;
          position: relative;
          width: 0%;

          &.grid-image {
            height: 100%;
            width: 100%;

            transition: height $transition-cubic-bezier-250, width $transition-cubic-bezier-250;

            .form-image {
              @extend .fill;
            }
          }

          .sortable-table-cell-content {
            @extend .flex;
            @extend .align-center;
            @extend .fill-height;
            @extend .overflow-hidden;

            word-break:keep-all;
            white-space: nowrap;
          }
        }
      }
    };
  }

  &.isGridView {
    .sortable-table-row {
      width: calc(33.3% - (2 * var(--sortable-table-grid-padding)));

      @include for-size(xs) {
        width: calc(50% - (2 * var(--sortable-table-grid-padding)));
      }

      @include for-size(md) {
        width: calc(25% - (2 * var(--sortable-table-grid-padding)));
      }

      @include for-size(lg) {
        width: calc(25% - (2 * var(--sortable-table-grid-padding)));
      }

      @include for-size(xl) {
        width: calc(14.28% - (2 * var(--sortable-table-grid-padding)));
      }

      padding: var(--sortable-table-grid-padding);
      aspect-ratio: 1;

      .sortable-column-row {
        @include hover-zoom(1.1);

        transition: transform $transition-cubic-bezier-250;

        -webkit-box-shadow: 10px 10px 5px -2px rgba(0,0,0,0.34);
        -moz-box-shadow: 10px 10px 5px -2px rgba(0,0,0,0.34);
        box-shadow: 10px 10px 5px -2px rgba(0,0,0,0.34);

        .sortable-column {
          &:first-child {
            width:100%;
            height:100%;
          }
          width:0;
        }
      }
    }
  }

  &.isListView {
    justify-content: flex-start;
    @extend .flex-column;

    .sortable-table-row {
      @extend .fill-width;

      &:nth-child(even) {
        .sortable-column-row{
          background-color: transparentize($primary-color, 0.8);
 
          

        }
      }
      &:nth-child(odd) {
        .sortable-column-row {
          background-color: transparentize($secondary-color, 0.8);
 
        }
      }

      :not(:first-child) {
        padding-left: 0.5rem;
      }

      height: var(--sortable-table-list-view-image-hw);
      
      margin-top: 0.25rem;
      margin-left: 0;

      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;

      &:hover {
        transform:none;
      }

      &:first-child{
        margin-top:0;
      }

      .sortable-column-row {
        &.selected {
          background-color: $primary-color;
        }
        &:hover {
          background-color: $secondary-color;
        }

        transition: background-color $transition-cubic-bezier-250;

        min-height: var(--sortable-table-list-view-image-hw);
        .sortable-column {
          @extend .overflow-hidden;

          width:initial;
          .sortable-table-cell {
            @extend .fill;
            &.grid-image {
              height: var(--sortable-table-list-view-image-hw);
              width: var(--sortable-table-list-view-image-hw);
            }
          }
        }
      }
    }
  }
}

.sortable-table-header {
  @extend .flex;

  height: var(--sortable-table-column-name-height);
  
  .sortable-table-header-column {
    @extend .flex;
    @extend .justify-start;

    z-index: 1;
    cursor: pointer;

    :not(:first-child) {
      padding-left: 0.2rem;
    }

    min-height: var(--sortable-table-list-view-image-hw);
    min-width: var(--sortable-table-list-view-image-hw);
    transition: transform $transition-cubic-bezier-250;

    &:hover {
      transform: scale(1.025);
      background-color: var(--tertiary-background-color);
      opacity: 1;
      z-index: 2;
    }

    .sortable-table-header-sort-options {
      @extend .fill;
      @extend .flex-column; 
      @extend .justify-center;

      padding-left: 0.5rem;
      opacity:0;
      transition: color $transition-cubic-bezier-250;

      &.selected {
        opacity: 1;
      }

      &:hover{
        opacity: 0.8;
      }

      .sortable-table-header-form-icon {
        font-size:0.8rem;
        height:25%;
        user-select: none;

        &:hover{
          color: $primary-font-color;
        }

        &.selected {
          opacity:1;
          color: $primary-font-color;
        }
      }
    }
  }
}