.sortable-table {
  @extend .flex;
  @extend .justify-start;

  flex-wrap: wrap;
  flex-direction: row;

  &.isListView {
    justify-content: initial;
    @extend .flex-column;

    .sortable-table-row {
      height: var(--vp-cover-art-hw);
      width: 100%;
      
      margin-top:0.25rem;
      margin-left:0;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
  
      &:hover {
        transform:none;
      }

      &:first-child{
        margin-top:0;
      }

      .sortable-column-row {
        .sortable-column {
          .sortable-table-cell {
            @extend .fill;
            &.grid-image {
              height: var(--vp-cover-art-hw);
              width: var(--vp-cover-art-hw);
            }
          }
        }
      }
    }
  }

  .sortable-table-row {
    height: calc(var(--vp-cover-art-hw-expanded));
    width: calc(var(--vp-cover-art-hw-expanded));

    transition: 
      height $transition-cubic-bezier-500, 
      width $transition-cubic-bezier-500,
      transform $transition-cubic-bezier-500;

    margin-left: 0.75rem;

    -webkit-box-shadow: 10px 10px 5px -2px rgba(0,0,0,0.34);
    -moz-box-shadow: 10px 10px 5px -2px rgba(0,0,0,0.34);
    box-shadow: 10px 10px 5px -2px rgba(0,0,0,0.34);

    &:hover {
      transform:scale(1.1);
    }

    .sortable-column-row {
      @extend .flex;
      cursor: pointer;
      border-radius: 8px;
      overflow: hidden;

      background-color: $tertiary-background-color;

      transition: background-color $transition-cubic-bezier-250;

      &:hover {
        background-color: $secondary-background-color;
      }
    
      .sortable-column {
        @extend .flex;
        @extend .align-center;
        @extend .justify-center;

        .sortable-table-cell {
          text-align:left;
          font-size:large;
          position: relative;
          width: 0%;

          &.grid-image {
            height: var(--vp-cover-art-hw-expanded);
            width: var(--vp-cover-art-hw-expanded);

            transition: 
              height $transition-cubic-bezier-500, 
              width $transition-cubic-bezier-500;

            .form-image{
              height: 100%;
              width:100%;
            }
          }

          .sortable-table-cell-content {
            @extend .flex;
            @extend .align-center;
            height: 100%;

            overflow:hidden;
            word-break:keep-all;
            white-space: nowrap;
          }
        }
      }
    };
  }
}

.sortable-table-header {
  @extend .flex;

  height: var(--vp-input-min-height);
  
  .sortable-table-header-column {
    @extend .flex;
    @extend .justify-start;
    cursor: pointer;

    min-height: var(--vp-cover-art-hw);
    min-width: var(--vp-cover-art-hw);
    transition: transform $transition-cubic-bezier-250;

    &:hover {
      transform: scale(1.05);
      background-color:$quaternary-color;
    }

    .sortable-table-header-sort-options {
      @extend .fill;
      @extend .flex-column; 
      @extend .justify-center;

      padding-left:0.5rem;
      opacity:0;
      transition: color $transition-cubic-bezier-250;

      &.selected {
        opacity: 1;
      }

      &:hover{
        opacity: 0.8;
      }

      .sortable-table-header-form-icon {
        color: $primary-background-color;
        font-size:0.8rem;
        height:25%;
        user-select: none;

        &:hover{
          color: $primary-text-color;
        }

        &.selected {
          opacity:1;
          color: $tertiary-color;
        }
      }
    }
  }
}