
.form-textarea-container {
  flex:1;
  width: 100%;

  @extend .flex;
  @extend .justify-start;
  @extend .align-center;
  @extend .p0;

  .form-textarea {
    padding:0;
    width:100%;
    height: var(--form-textarea-height);
    background-color: transparent;
    color: $primary-font-color;
    box-sizing: border-box;
    font-size: var(--default-font-size);
  }
}