.sample-page-body {
  position: relative;
  @extend .flex;
  @extend .flex-column;
  box-shadow: 20px 20px 30px 0px rgba(0,0,0,0.75);
  height: 100vh;
  width: 100%;
  background-color:rgba(0,0,0, 0.5);
}